:root {
  --neutral: #ccc;
  --neutral-300: #333;
  --neutral-500: #555;
  --neutral-900: #000;
  --neutral-light: #ddd;
  --neutral-lighter: #eee;
  --neutral-dark: black;
  --accent: #187cf1;
  --accent-500: #002fff;
  --accent-400: #1d59ff;
  --highlight: #f14668;
}

// Color 
.hero.is-primary, .has-background-primary {
  background-color: var(--accent-500)!important;
}

html {background: var(--accent-500);}
body {
  background: var(--accent-500);
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
body, .title, .subtitle, p, .button {
  color: var(--neutral-900);
}

main {
  display: grid;
  min-height: calc(100vh - 120px);
}

// Utility 
* {
  max-width: 100%;
  box-sizing: border-box;
}

p {
  max-width: 800px;
}

.is-nowrap {
  white-space: nowrap;
}
.is-20-wide {
  width: 20rem;
}

.is-middle {
  display: flex;
  // justify-content: center;
  align-items: center;
}

// Controls 
.button {
  &.is-primary {
    background: var(--accent-500);
    &:hover {
      background: var(--accent-500);
      opacity: .8;
    }
  }
}
.arrow {
  position: absolute;
  top: 2rem;
  z-index: 1;
  left: 2rem;
  padding: .5rem;
  &:hover {
    opacity: .6;
  }
}

.sample-art {
  display: flex;
  // width: 100%;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // padding: 1rem;




  &:hover {
    cursor: pointer;
  }

  img {
    width: 20rem;
    height: 20rem;
    display: block;
    border-radius: 1rem;
    margin: 0 auto;
  }

  img {
    object-fit: cover;
  }

  .slides {
    display: none;
    text-align: center;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid white;
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-right: 0.5rem solid white;
  }
}

.sample-art img, .card {
  box-shadow: 0 0 0 8px rgba($color: white, $alpha: 1);
  &:hover {
    box-shadow: 0 0 0 12px rgba($color: white, $alpha: 1);
  }
}

// Hero 
.landing .hero {
  >div {
    display: flex;
    gap: 3rem;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // >div {
    //   max-width: 50%;
    // }
    >div:nth-child(1) {
      flex: 0 0 20rem;
      margin-right: 1rem;
    }
  }
  .button {
    border: none;
    &:hover {
      opacity: .7;
    }
  }
}
@media only screen and (min-width: 768px) {
  .landing .hero >div >div {
    max-width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .landing .hero {
    div:nth-child(1) {
      justify-content: center;
    }
    div:nth-child(2) {
      // justify-content: flex-start;
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing .hero {
    >div {
      flex-direction: column;
      div {
        justify-content: center;
        text-align: center;
      }
    }
  }
  .landing .hero > div > div:nth-child(1) {
    margin: 0;
  }
}

//  Project list 
.projects {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: flex-start;

  // padding: 0 2rem;
  .card {
    flex: 0 0 20rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}

footer {
  color: rgba($color: white, $alpha: .5);
  text-align: right;
}


// Changelog 
.changelog {
  font-size: 1.2rem;
  li {
    margin-bottom: 1rem;
  }
  span {
    display: inline-block;
  }
  span:nth-child(1) {
    display: inline-block;
    font-weight: normal;
    color: var(--neutral-500);
    min-width: 10rem;
  }
  span:nth-child(2) {
    
    color: var(--neutral-900);
  }
}

// Floater 
@media only screen and (min-width: 768px) {
  // .floater {
  //   position: fixed;
  //   top: 9rem;
  // }
}
