@import "reset";

:root {
  --neutral: #ccc;
  --neutral-100: #fff;
  --neutral-200: #ccc;
  --neutral-300: #999;
  --neutral-400: #888;
  --neutral-500: #555;
  --neutral-600: #444;
  --neutral-700: #333;
  --neutral-900: #000;
  --accent-100: #97aaff;
  --accent-200: #718bff;
  --accent-300: #3f62ff;
  --accent-400: #1b45ff;
  --accent-500: #002FFF;
  --accent-600: #0026d0;
  --accent-700: #001c98;
  --accent-800: #001368;
  --accent-900: #000c3f;
  --text-dark: #000;
  --text-light: #fff;
  --text: #000;
  --highlight-500: #f14668;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  @media only screen and (min-width: 600px) {font-size: 16px;}
  @media only screen and (min-width: 1000px) {font-size: 18px;}
  @media only screen and (min-width: 1600px) {font-size: 20px;}
  @media only screen and (min-width: 2000px) {font-size: 22px;}
  @media only screen and (min-width: 2400px) {font-size: 24px;}
}
body {
  background-color: #000;
}

main {
  position: relative;
  max-width: 1800px;
  margin-inline: auto;
}



.home-hero {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  place-items: center;
  background: var(--accent-500);
  color: #fff;
  overflow: hidden;
  @media only screen and (min-width: 680px) {
    grid-template-columns: auto minmax(20rem, 1fr);
  }
  @media only screen and (min-width: 900px) {
    grid-template-columns: auto minmax(30rem, 1fr);
  }
  @media only screen and (min-width: 1200px) {
    grid-template-columns: auto minmax(40rem, 1fr);
  }
  .image-container {
    overflow: hidden;
    aspect-ratio: 1/1;
  }
  .controls {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .button {
    background: white;
    color: var(--accent-500);
  }
  .is-square {
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  > div:nth-child(2) {
    padding: .75rem;
    text-align: center;
  }
  #next-image {
    cursor: pointer;
  }
}
p {
  
  line-height: 1.5em;
  @media only screen and (min-width: 900px) {
    font-size: 1.125rem;
  }
}
.is-lane {
  display: grid;
  background: var(--accent-500);
  color: var(--text);
  place-items: center;
  // padding: .75rem; 
  @media only screen and (min-width: 680px) {
    grid-template-columns: 1fr 1fr;  
    place-items: center;
  }
  h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  em {
    font-weight: bold; 
    opacity: .6;
    font-style: normal;
  }
  em, p {
    font-size: 1.1rem;
  }
  .desc {
    max-width: 30rem;
    padding: 1.5rem; 
    // margin-right: 2rem;
    @media only screen and (max-width: 680px) {
      width: 100%;
    }
    @media only screen and (min-width: 1000px) {
      margin-right: 6rem;
    }
    .button {
      display: inline-flex;
      margin: 0.75rem 0;
      @media only screen and (max-width: 680px) {
        display: flex;
        justify-content: center;
      }
    }
  }
  .image {
    max-width: 700px;
    padding: 3rem 3rem 0 3rem;
    border-radius: 1rem;
    @media only screen and (min-width: 680px) {
      padding: 10%;
    }
  }
}
.is-group {
  display: grid;
  
  background: darkgray;
  @media only screen and (min-width: 400px) {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 50%));
  }
  @media only screen and (min-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 33.33333333%));
  }
  p, em {
    font-size: .875em;
    margin: 0;
    text-wrap: pretty; 
  }
  em {
    margin-block: .25rem;
    display: block;
  }
  h2 {
    font-size: 1.25em;
    margin: 1rem 0 0;
  }
  img {
    background: rgba($color: #000, $alpha: .05);
    border-radius: 1rem;
  }
  .group-card {
    background: var(--accent-500); 
    text-decoration: none;
    text-align: center;
    color: var(--text);
    width: 100%;
    padding: 10% 10% 5%;
    &:hover {
      filter: brightness(1.1);
    }
    .desc, .image {
      margin: 0;
      padding: 0;
    }
    .desc {
      // margin-bottom: 1rem;
    }
    @media only screen and (min-width: 400px) and (max-width: 1500px) {
      .desc {
        margin-bottom: 0;
      }
    }
  }
}

// Post 
.post-hero {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  background: var(--accent-500);
  @media only screen and (min-width: 500px) {
    .hero-image {
      background: rgba($color: #000000, $alpha: .2);
    }
  }
  .hero-desc {
    padding: 5rem 10% 0 10%;
    text-align: center;
    order: -1;
    margin-bottom: -2rem;
    @media only screen and (min-width: 900px) {
      margin-bottom: 2rem;
    }
    .title {
      font-size: 3rem;
    }
    img {
      margin-bottom: 2rem;
    }
    em {
      opacity: .7;
      font-weight: bold;
      font-size: 1.25rem;
      color: var(--text);
    }
  }
  @media only screen and (min-width: 500px)  {
    grid-template-columns: 1fr 1fr;
    .hero-desc {
      order: 2;
      padding: 10%;
      margin-bottom: 0;
    }
  }
}
.article {
  background: var(--neutral-200);
  
  .post-headline {
    margin: 0;
    padding: 4rem 2rem;
    background: white;
    h1 {
      font-size: 2em;
      margin: 0.67em 0;
      max-width: 1000px;
      margin-inline: auto;
      line-height: 1.5em;
      padding: 0 2rem;
    }
  }
  .is-content {
    max-width: 1000px;
    margin-inline: auto;
    padding: 2rem;
    .button {
      margin: 2rem auto;
    }
    img {
      margin: 4rem 0 4rem;
    }
  }
}

// Elements 
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem; 
  justify-content: center;
  margin-block: 2rem;
  font-weight: bold; 
}
.button {
  background: var(--neutral-100);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--accent-500);
  text-decoration: none;
  &:hover {
    opacity: .8;
  }
}

// Common 

.back {
  z-index: 2;
  position: absolute;
  inset: 1.5rem auto auto 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
  span {
    visibility: hidden;
  }
  &:hover {
    opacity: .7;
  }
  svg {
    width: 2rem; 
    stroke-width: .25rem;
  }
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  background: var(--accent-500);
  max-width: 1800px;
  margin-inline: auto;
  padding: 3rem 2rem;
  text-align: right;
  color: rgba($color: #000000, $alpha: .5);
  .back {
    position: relative;
    inset: auto;
  }
}

// Utility 

@media only screen and (max-width: 1440px) {
  .mobile-only-video {
    display: block!important;
  }
  #result_div {
    display: none;
  }
  
}
@media only screen and (min-width: 1800px) {
  main {
    padding-inline: .75rem;
  }
  .back {
    margin-left: 0.75rem; 
}
  footer {
    max-width: 1765px;
  }
  main footer {
    max-width: 1800px;
  }
  section, footer {
    &:not(.image-grid) {
      margin-block: 1rem;
      border-radius: 2rem;
      overflow: hidden;
      // margin-inline: .5rem;
    }
  }
}
.is-hidden {
  display: none;
}
.no-wrap {
  white-space: nowrap;
}
.title { 
  display: block;
  font-size: 2rem;
  font-weight: bold;
}
img {
  max-width: 100%;
  display: block;
}
.is-square {
  img {
    object-fit: cover;
  }
}


.samples {
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.swiper {
  width: 100%;
  height: 100vw;
  max-width: 100%;
  margin: 0;
  aspect-ratio: 1/1;
  @media only screen and (min-width: 680px) {
    width: 40vw;
    height: 40vw;
  }
  @media only screen and (min-width: 1800px) {
    width: 720px;
    height: 720px;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    color: red;
    content: '';
  }
  @media only screen and (min-width: 680px) {
    .swiper-button-next {
      inset: 0 0 0 50%;
      width: 50%;
      height: 100%;
      &:focus-visible {
        outline: none;
      }
    }
    .swiper-button-prev {
      inset: 0 50% 0 0;
      width: 50%;
      height: 100%;
    }
  }
}
