body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: yellow;
    animation: bg-color 420s linear infinite;
}

@keyframes bg-color {
    0% {
        filter: hue-rotation(0)saturate(.3);
    }

    50% {
        filter: hue-rotate(360deg)saturate(5)brightness(.2);
    }

    100% {
        filter: hue-rotation(0)saturate(.3);
    }
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    .button {
        background: transparent;
        border-color: black;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
}

.modal {
    font-size: 1.2rem;
    // text-align: center;
}

.timeline .hours {
    position: absolute;
    width: 12px;
    height: 420px;
    top: 50%;
    left: 50%;
    background-color: black;
    transform-origin: center;
}