---
layout: default-1
title: Projects by @tippyfodder
class: landing
---

<main>
    <section class="section is-primary hero is-medium">
        <div class="container is-fluid">
            <div class="">
                {% include hero-images.html folder="/images/hero/" %}
            </div>
            <div class="">
                <div>
                    <h1 class="title is-3 is-spaced">
                        <span class="is-nowrap">tippyfodder.</span><span class="is-nowrap">github.io</span>
                    </h1>
                    <div class="buttons pt pt-2">
                        <a href="https://twitter.com/almostrealchris" class="button is-rounded">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- {% include list-projects.html %} -->
</main>
<footer class="p p-6 has-background-primary">
    &copy; tippyfodder.github.io
</footer>