h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
    font-weight: 600;
}
.hero1 {
    background-image: url('images/hero.jpg') no-repeat cover;
}
.lead {
    font-size: 1.1rem;;
}
section {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
}