<section class="section has-background-primary pt pt-0">
    <div class="container is-fluid projects is-justify-content-center">
        <a href="/thediagonals" class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="/images/thumb-diagonals.png" alt="Diagonals character">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="content">
                        <strong>The Diagonals</strong> are ten thousand character studies on the XRPL, and the last hope for humanity.
                    </div>
                </div>
            </div>
        </a>
        <a href="https://xrp.cafe" class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="/images/thumb-cafe.png" alt="xrp.cafe screenshot">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="content">
                        <strong>xrp.cafe</strong> is the easiest way to mint, trade and enjoy NFTs on the XRPL or any other blockchain.
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>