<!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://tippyfodder.github.io">
        <meta property="og:type" content="website">
        <meta property="og:title" content="plopcult">
        <meta property="og:description" content="">
        <meta property="og:image" content="https://tippyfodder.github.io/images/og.png">
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="tippyfodder.github.io">
        <meta property="twitter:url" content="https://tippyfodder.github.io/plopcult">
        <meta name="twitter:title" content="plopbuff">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="https://tippyfodder.github.io/images/ogpng">