---
layout: project
title:  cafe heros
date:   2023-10-31
categories: css
permalink: /cafe-heros
css: heros
---

<link rel="stylesheet" href="https://xrpcafe.netlify.app/css/cozystyles.css" />
<link rel="stylesheet" href="https://xrpcafe.netlify.app/css/styles.css" />

<style>
  body {
    display: block;
  }
</style>

<main>
{% include back-link.html %}

<!-- birdjpg  -->
<section id="bird_run" class="birdjpg">
  <div class="container">
      <div class="desc">
          <div>
              <span>bird</span>
          </div>
          <p>birdjpg is the very first NFT collection on the XRPL</p>
          <div class="buttons">
              <a class="button is-medium is-brutal">Get bird</a>
              <button id="go_bird" class="button is-brutal is-medium">Go bird</button>
          </div>
      </div>
      <div class="feature">
          <div></div>
      </div>
  </div>
</section>



<!-- RudeGirl  -->
<section class="section hero is-primary rudegirl">
  <div class="bgs">
      <img src="/images/heros/hero-rudegirl-bg2.webp" alt="">
      <img class="spin" src="/images/heros/hero-rudegirl-bg2.webp" alt="">
  </div>
  <div class="container is-widescreen">
      <div class="columns is-7 is-variable is-flipped">
          <div class="column is-align-items-center is-flex is-plus-z">
              <div class="text">
                  <h1 class="title is-1 is-spaced">Rude Girl</h1>
                  <h2 class="subtitle is-4">Approach with caution, she's a live wire!</h2>
                  <div class="buttons">
                      <a class="button is-medium is-brutal">View collection</a>
                  </div>
              </div>
          </div>
          <div class="column is-6">
              <div class="is-middle">
                  <div class="base">
                      <img class="reyonians-base" width="450" height="450" src="/images/heros/hero-rudegirl-body.webp"
                          alt="Rude Girl character">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<!-- Power Zerps  -->
<section class="section hero is-primary powerzerps">
  <div class="container is-widescreen">
      <div class="columns is-7 is-variable is-flipped">
          <div class="column is-align-items-center is-flex is-plus-z">
              <div>
                  <h1 class="title is-2 is-spaced">Power Zerps</h1>
                  <h2 id="description" class="subtitle is-4">The world is in danger, but the Power Zerps are ready to
                      defend it from evil!</h2>
                  <div class="buttons">
                      <a class="button is-medium is-brutal">Mint now</a>
                  </div>
              </div>
          </div>
          <div class="column is-6 p p-0">
              <div class="is-middle">
                  <div class="powerzerp-bg">
                      <img src="/images/heros/hero-power-zerps.svg" alt="" class="">
                  </div>
                  <div class="base">
                      <div class="powerzerps-base">
                          <img src="/images/heros/hero-power-zerps-sprite.png" alt="Powerzerps character">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<!-- Reyonians  -->
<section class="section hero is-primary reyonians">
  <div class='stars'></div>
  <div class='stars2'></div>
  <div class='stars3'></div>
  <div class="container is-widescreen">
      <div class="columns is-7 is-variable is-flipped">
          <div class="column is-align-items-center is-flex is-plus-z">
              <div>
                  <h1 class="title is-1 is-spaced">Reyonians</h1>
                  <h2 id="description" class="subtitle is-4">A cheeky collection from the heart of the Yuniverse.</h2>
                  <div class="buttons">
                      <a class="button is-medium is-brutal">Mint now</a>
                  </div>
              </div>
          </div>
          <div class="column is-6">
              <div class="is-middle">
                  <div class="base">
                      <img class="reyonians-base" width="450" height="450" src="/images/heros/hero-reyonians-base.png"
                          alt="Reyonians character">
                      <img class="reyonians-body" width="450" height="450" src="/images/heros/hero-reyonians-body2.png">
                      <!-- <img class="reyonians-body" width="450" height="450" src="images/hero-reyonians-ears1.png"> -->
                      <img class="reyonians-body reybug" width="450" height="450" src="/images/heros/hero-reyonians-bug.png">
                      <img class="reyonians-body" width="450" height="450" src="/images/heros/hero-reyonians-hearts.png">
                      <img class="reyonians-body gumblow" width="450" height="450"
                          src="/images/heros/hero-reyonians-gum.png">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Austin  -->
<section class="section hero is-primary austin">
  <div class="container is-widescreen">
      <div class="columns is-7 is-variable is-flipped">
          <div class="column is-align-items-center is-flex">
              <div class="is-plus-z">
                  <h1 class="title is-1 is-spaced">Thanks Austin!</h1>
                  <h2 class="subtitle is-4">
                      Help us commemorate our first tech conference with a free NFT.
                  </h2>
                  <div class="buttons">
                      <a class="button is-medium is-brutal">Free mint</a>
                  </div>
              </div>
          </div>
          <div class="column is-6">
              <div class="is-middle">
                  <img class="dots" src="/images/heros/hero-austin-dots.svg" width="450" height="450" alt="">
                  <img class="dots2" src="/images/heros/hero-austin-dots.svg" width="450" height="450" alt="">
                  <img class="cloud" src="/images/heros/hero-austin-cloud.svg" width="450" height="450" alt="">
                  <img class="face" src="/images/heros/hero-austin-face.svg" width="450" height="450" alt="">
              </div>
          </div>
      </div>
  </div>
</section>
<footer>
  {% include back-link.html %}
</footer>
</main>


<script>

  // Bird run 
  function updateBirdSpeed() {
      var birdRunElement = document.getElementById('bird_run');

      if (birdRunElement.classList.contains('fastest')) {
          birdRunElement.classList.remove('fastest');
      } else if (birdRunElement.classList.contains('faster')) {
          birdRunElement.classList.replace('faster', 'fastest');
      } else if (birdRunElement.classList.contains('fast')) {
          birdRunElement.classList.replace('fast', 'faster');
      } else {
          birdRunElement.classList.add('fast');
      }
  }
  var goBirdElement = document.getElementById('go_bird');
  goBirdElement.addEventListener('click', updateBirdSpeed);

</script>