---
layout: project
title:  "the Diagonals"
date:   2023-10-15
categories: ux, ui, design
permalink: /thediagonals
---

<main style="--accent-500: #e50054;">
    <section class="post-hero" style=" --text: #fff;">
        {% include back-link.html %}
        <div class="hero-image">
            <img src="/images/diagonals_02.png" alt="">
        </div>
        <div class="hero-desc">
            <img width="900" src="/images/diagonals_logo_k.svg" alt="">
            <em>Illustration, Research, Branding</em>
        </div>
    </section>
    <section class="article">
        <div class="post-headline"><h1>An experiment to better understand <span id="egg_1">the needs of creators</span>, and have a little fun in the process.</h1></div>
        <section class="is-content">
            <!-- <img src="/images/ms_01.png" alt=""> -->
            <h2>Participation is crucial for understanding</h2>
            <p>I makes sense for me to experience the journey of a creator on <a href="/xrpcafe">xrp.cafe</a> for myself. We ask questions and do research
                 but making "the thing people didn't know they want", requires a deeper involvement with the product.
            </p>
            <h2>The art</h2>
            <p>Three thousand mostly generative artworks based on a variety of tropes and themes. Once you start to think about art production in a systematic way a lot of really 
                interesting opportunities surface. So much of the creative process is accidental, the generative process amplifies these happy accidents. It really is a great tool for discovery.</p>
        </section>
        <section class="image-grid">
            <img src="/images/diagonals/720/1.webp">
            <img src="/images/diagonals/720/2.webp">
            <!-- <img src="/images/diagonals/720/3.webp"> -->
            <!-- <img src="/images/diagonals/720/4.webp"> -->
            <img src="/images/diagonals/720/5.webp">
            <img src="/images/diagonals/720/6.webp">
            <img src="/images/diagonals/720/7.webp">
            <img src="/images/diagonals/720/8.webp">
            <img src="/images/diagonals/720/9.webp">
            <img src="/images/diagonals/720/10.webp">
            <img src="/images/diagonals/720/11.webp">
            <img src="/images/diagonals/720/12.webp">
            <img src="/images/diagonals/720/13.webp">
            <img src="/images/diagonals/720/14.webp">
            <!-- <img src="/images/diagonals/720/15.webp"> -->
        </section>
        <section class="is-content">
            <h2>Coming 2024</h2>

            <p>One thing that is already vary apparent is that as a creator I wan't the cafe to help empower my vision but also stay out of the way.</p>
            <p>I'll post more findings in the future as they come. Please follow the project below for more information.</p>
            <div class="buttons">
                <a href="https://twitter.com/thediagonals" class="button" target="_blank">Follow @theDiagonals</a>
            </div>
        </section>
    </section>
    <footer>
        {% include back-link.html %}
    </footer>
</main>

<script>
    const egg1 = document.getElementById('egg_1');

    egg1.addEventListener('click', function() {
        if (egg1.textContent === "how to start a cult") {
        egg1.textContent = "the needs of creators";
        } else {
        egg1.textContent = "how to start a cult";
        }
    });
</script>

