---
layout: project
title:  "Microsoft Learn"
date:   2023-10-16
categories: ux, ui, design
permalink: /ms-learn
---

<main style="--accent-500: #6a80e2;">
    <section class="post-hero" style="--accent-500: #c4cfff; --text: #000;"> 
        {% include back-link.html %}
        <div class="hero-image">
            <img src="/images/ms_01.webp" alt="">
        </div>
        <div class="hero-desc">
            <img width="900" src="/images/ms-learn-logo2.png" alt="">
            <em>UX, Design Systems, Rapid Prototyping</em>
        </div>
    </section>
    <section class="article">
        <div class="post-headline"><h1>Taming a vast landscape of resources, with thoughtful planning, and innovative design.</h1></div>
        <section class="is-content">
            <h2>Background</h2>
            <p>Microsoft Learn, Microsoft's online learning platform, offers a vast repository of resources for technology enthusiasts and professionals. The platform provides interactive learning paths, hands-on labs, certification resources, and a thriving community for its users. My role was to improve the user experience ensuring users can maximize their potential.</p>
            <h2>Challenges</h2>
            <p><strong>Content Overload - </strong>Microsoft Learn houses a vast amount of content, and users often found it challenging to navigate and locate the most relevant resources efficiently.</p>
            <p><strong>Diverse User Base - </strong>The platform serves a broad user base, including beginners and experts. It was essential to create an inclusive and adaptable UX to cater to diverse learning needs.</p>
            <p><strong>Performance and Responsiveness - </strong> Some users experienced performance issues and delays when accessing resources, affecting their overall learning experience.</p>
            <p><strong>Demanding prerequisites - </strong> Often times learning is blocked by the first hurdle, setting up a development requirement. This can require complicated and time consuming installations that can be challenging for beginners.</p>
            
            <img src="/images/cafe_04.png" alt="">
            <h2>Solutions</h2>
            <p><strong>User-Centric Design - </strong>Microsoft Learn adopted a user-centric approach, focusing on improving navigation, content organization, and search functionality. The redesign included a more intuitive layout and a refined categorization of resources to assist users in finding relevant content swiftly.</p>
            <p><strong>Personalized Learning Paths - </strong>To cater to different user levels, the platform introduced personalized learning paths, which adapt to users' skills and knowledge. This feature allows both beginners and experts to have a customized learning experience.</p>
            <p><strong>Performance Optimization - </strong>Microsoft improved its infrastructure to optimize load times and responsiveness, reducing the occurrence of performance issues. This ensured that users had a seamless and efficient learning experience</p>
            <p><strong>Web based CLI and development sandboxes - </strong>Microsoft Learn introduced features for users to interact with products and frameworks in the browser without the need for installations or special permissions. Meeting user where they were in the moment proved to be very popular.</p>
            
            <div class="buttons">
                <a href="" class="button">Visit MS Learn</a>
            </div>
        </section>
    </section>
    <footer>
        {% include back-link.html %}
    </footer>
</main>


Lorem ipsum dolor sit amet consectetur adipisicing elit. At explicabo temporibus facilis nobis doloremque dolor illo ut, odit nisi corrupti, unde voluptas, officia nemo! Porro culpa voluptatem nulla asperiores laboriosam!