// Feelings 

body {
    margin: 0;
    background: transparent;
    display: grid;
    /* padding: 0 1rem; */
  }

  html {
    background: black;
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    height: 100dvh;
    font-family: 'Playpen Sans', sans-serif;

    #price {
      font-size: clamp(6rem, 18rem, 6rem);
      padding: 2rem;
    }
    .install {
      display: grid;
      place-items: center;
    }
    .install .button { 
      color: black;
      border-color: transparent;
    }
  
    .image {
      width: 100%;
      max-width: 40rem;
      aspect-ratio: 1 / 1;
      background: rgba(0, 0, 0, .2) url("../images/feelings.webp");
      border-radius: 1rem;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: 0;
    }

    &.is-bear {
      .image {
        // background-image:  url("../images/feelings-bear.webp");
      }
    }
  
    &.is-extra-red {
      background: red;
  
      .image {
        background-position: 16.66%;
      }
    }
  
    &.is-more-red {
      background: red;
  
      .image {
        background-position: 33.33%;
      }
    }
  
    &.is-red {
      background: red;
  
      .image {
        background-position: 50%;
      }
    } 
  
    &.is-green {
      background: #2cc466;
  
      .image {
        background-position: 66.33%;
      }
    }
  
    &.is-more-green {
      background: #13e363;
  
      .image {
        background-position: 83.33%;
      }
    }
  
    &.is-extra-green {
      background: #2cc466;
  
      .image {
        background-position: 100%;
      }
    }
  }
  