<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
        <!-- <link rel="manifest" href="fav/site.webmanifest"> -->
      
        <!-- HTML Meta Tags -->
        <title>{{ page.title }}</title> 
        <meta name="description" content="">

        <link rel="manifest" href="/feelings/manifest.json">
        <link rel="stylesheet" href="/css/style.css">
      </head>
      <body>
        <span id="top"></span>
        {{ content }}
        
      </body>
</html>